{
    "// README": "Copy this file to settings.json and edit as needed. CLI params override these values.",
    "OutputPath": "",
    "Parallelism": 64,
    "KeepHashFile": false,
    "NoOverwrite": false,
    "SkipDownload": false
}
